*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    color: white;
    padding: 20px 10px;
}
/*estilos inicias*/

#editar-tarefa{
    display: none;
}
#cancelar{
    display: none;
}

body{
    font-family: sans-serif;
}

main{
    padding: 20px;
    min-width: 100%;
    min-height: calc(100vh - 141px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    color: red;
}
.formulario{
    min-width: 30%;
    max-width: 30%;
    text-align: center;
    font-size: 30px;
}

.formulario>form{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: space-around;
    min-height: 800px;
    max-height: 800px;
    align-items: center;
    border-radius: 20px;
    
}

.formulario>form>label{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.formulario>form>label>input{
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

.formulario>form>label>textarea{
    width: 450px;
    max-height: 250px;
    min-height: 250px;
    font-size: 30px;
    font-family: sans-serif;
}

.formulario>form>button{
    height: 40px;
    width: 200px;
    background-color: gray;
    border-style: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.formulario>.btnsOculto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin-top: 20px;
    background-color: black;
    height: 70px;
}
.formulario>.btnsOculto>button{
    height: 40px;
    width: 200px;
    background-color: gray;
    border-style: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 600;

}

.tarefas{

}


footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 10px;
}

footer>h3>a{
    color: white;
}


