@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

button {
  cursor: pointer;
}

#editar-tarefa {
  display: none;
}

#cancelar {
  display: none;
}

/******************** CABEÇALHO **************************/
header {
    background-color: black;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
  font-family: 'Pacifico', cursive;
  color: orange;
}

#consumindo-api {
  text-decoration: none;
  color: #ffffff;
  /* margin-left: 20px; */
}

/******************** CONTEUDO PRINCIPAL ******************/

main {
  display: flex;
  height: calc(100vh - 205px);
}

/********************** SECTION *************************/
#tarefas-div {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}

#secao-formulario {
  width: 330px;
  padding: 10px;
  background-color: #ffffff;
}

/********************** TAREFA ***************************/
.tarefa {
  max-width: 280px;
  width: 100%;
  height: 300px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 1px 3px 1px #cccccc;
  margin: 10px;
  
}

/*.tarefa-concluida {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /*z-index: 2;*/
  /*display: none;
}*/

.caixa-data {
  display: flex;
  justify-content: space-between;
}

.caixa-data span {
  color: #cccccc;
  margin-bottom: 10px;
}

.caixa-data span:last-child{
  color: orange;
}

.caixa-descricao {
  height: 200px;
  padding-top: 5px;
  word-break: break-all;
  flex: 1;
  overflow-y: auto;
}

.caixa-descricao h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.caixa-descricao p {
  font-size: 15px;
  
}

.caixa-botoes {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 20px;
}

.caixa-botoes a {
  display: inline-flex;
  cursor: pointer;
  z-index: 1;
}

.caixa-botoes a img {
  width: 25px;
  filter: invert(24%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(92%) contrast(82%);
}


/****************** FORMULÀRIO *********************/

#form {
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  
}

.label{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 10px;
}

.label input {
  width: 100%;
  height: 35px;
  padding-left: 5px;
  border: 2px solid #cccccc;
  border-radius: 5px;
}

.label span {
  font-size: 13px;
  color: red;
}

.label textarea {
  width: 100%;
  height: 80px;
  font-size: 15px;
  resize: none;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
}

.formulario > form>button{
  height: 40px;
  width: 200px;
  background-color: gray;
  border-style: none;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.formulario > .btnsOculto{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 16px;
  height: 70px;
}
.formulario > .btnsOculto>button{
  height: 40px;
  width: 200px;
  background-color: orange;
  border-style: none;
  border-radius: 15px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin: 0 5px;
}

#add-tarefa {
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  background-color: orange;
  transition: 0.2s;
}

#add-tarefa:hover {
  background-color: rgb(230, 151, 5);
}

/******************* RODAPÈ **************************/
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 10px;

}

footer h3 {
  color: orange;
  margin-bottom: 10px;
}

footer a{
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
}

footer a img {
  margin-right: 7px;
  filter: invert(60%) sepia(44%) saturate(1452%) hue-rotate(0deg) brightness(104%) contrast(106%);
}

/*RESPONSIVIDADE*/
@media (max-width: 1024px) {
  main{
    height:auto;
  }
}
@media (max-width: 540px) {
  main{
    flex-direction: column;
    align-items: center;
    background-color: white;
    height:auto;
  }
  #tarefas-div{
    justify-content: center;
    
  }
}

@media (max-width: 320px) {
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: white;
  }
  .formulario{
    max-width: 260px;
  }
}


